body {
    background-image: url(fundo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    font-size: 120%;
}

.Introdução{
    margin: 10px;
    font-size: 100%;
    flex-direction: column;
    text-align: center;
    
}

.Produtos{
    display: flex;
    margin: 30px;
    padding: 30px;
    border: 1px solid black;
    font-size: 100%;
}