body {
    color: antiquewhite;
    border: 1px solid black;
    background-image: url(fundo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    font-size: 120%;
}

.Introdução{
    margin: 10px;
    font-size: 100%;
    flex-direction: column;
    text-align: center;
    
}

.Produtos{  
    border: 1px solid black;
    display: flex;
    font-size: 100%;
    align-items: center;
    flex-direction: column;
}

#container {
    display: flex;
   
  }
  
