*{ @font-face {
  font-family:'minhafonte';
  src:url(minecraft_font.ttf/);
}
div {
  font-family:minhafonte;
} } 


body {
    color: antiquewhite;
    border: 1px solid black;
    background-image: url(fundo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    font-size: 120%;
}

.Introdução{
    margin: 10px;
    font-size: 100%;
    flex-direction: column;
    text-align: center;
    
}

.Produtos{  
    display: flex;
    font-size: 100%;
    align-items: center;
    flex-direction: column;
}

#container {
    display: flex;
    flex-wrap: wrap;
   
  }
#comi{
    display: flex;
    align-items: center;
}

  .log{
    width: 10%;
  }
  footer{
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center
  }
  
@media screen and (min-width: 1024){

  background-size: 100% 100%;
  
}